[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "copyseparator"]
	path = copyseparator
	url = https://github.com/leiyang-fish/copyseparator
	shallow = true
	registered = true
